
{%extends "base.html"%}

{%block title%}
Pesanan
{%endblock%}

{%block konten%}

{% if 'email' in session %}
{%include "navbaruser.html"%}
{%else%}
{%include "navbar.html"%}
{%endif%}
<div class="py-5 mt-4 z-1 position-absolute" style="margin-left: 500px;">
    <div class="container">
        <div class="mx-auto bg-white rounded-2" style="margin-top: 100px; width: 500px;">
            <div class="row" style="height:350px;">
                <div class="col-12 px-4 w-100 mx-auto">
                    <h3 class="card-title text-center mt-5 mb-4">Pesanan anda sedang diproses, silakan lakukan pembayaran ke rekening BCA 27288892 a/n RODIF sejumlah Rp {{totalpayment}} dan periksa status <a href="{{url_for('transaksi')}}">disini</a></h3>
                </div>
            </div>
          </div>
    </div>

</div>
    <script type="text/javascript" src="../js/admin_script.js"></script>
        <!-- script -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      swal("berhasil!", "{{ message }}", "{{ category }}");
                  {% endfor %}
              {% endif %}
          {% endwith %}
        </script>
{%endblock%}