{%include "navbar.html"%} {%block konten%}

<div class="">
  <section class="vh-100 bg-second">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block bg-third">
                <!--img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form"
                  class="img-fluid bg-third"
                  style="border-radius: 1rem 0 0 1rem"
                /-->
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form action="{{url_for('signin')}}" method="POST">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i
                        class="fas fa-cubes fa-2x me-3"
                        style="color: #ff6219"
                      ></i>
                    </div>

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                      Sign into your account
                    </h5>
                    {% if mesage is defined and mesage %}
                            <div class="alert alert-warning">
                                {{ mesage }}                                       
                            </div>
                        {% endif %}

                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label" for="email"
                        >Email address</label
                      >
                      <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-control form-control-lg"
                      />
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label" for="password">Password</label>
                      <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control form-control-lg"
                      />
                    </div>
                    <div class="pt-1 mb-4">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                  </div>

                    <a class="small text-muted" href="#!">Forgot password?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81">
                      Don't have an account?
                      <a href="{{url_for('signup')}}" style="color: #393f81"
                        >Register here</a
                      >
                    </p>
                    <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- script -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        swal("{{ 'Berhasil' if category == 'success' else 'Gagal' }}", "{{ message }}", "{{ category }}");
      {% endfor %}
    {% endif %}
  {% endwith %}
</script>
{%endblock%}
